@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Base
 * - Reset the browser
 */
.post body {
  margin: 0;
  padding: 0;
}

.post body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.post img {
  height: auto;
  max-width: 100%;
}

.post * {
  box-sizing: border-box;
}

/**
 * Breakpoints & Media Queries
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Focus styles.
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Allows users to opt-out of animations via OS-level preferences.
 */
/**
 * Reset default styles for JavaScript UI based pages.
 * This is a WP-admin agnostic reset
 */
/**
 * Reset the WP Admin page styles for Gutenberg-like pages.
 */
/**
 * These are default block editor widths in case the theme doesn't provide them.
 */
.post .is-root-container {
  padding-left: var(--wp--custom--post-content--padding--left);
  padding-right: var(--wp--custom--post-content--padding--right);
}

.post
  .block-editor-block-list__layout.is-root-container
  > .wp-block[data-align="full"],
.post .wp-block-post-content > .alignfull {
  margin-left: calc(
    -1 * var(--wp--custom--post-content--padding--left)
  ) !important;
  margin-right: calc(
    -1 * var(--wp--custom--post-content--padding--right)
  ) !important;
  width: calc(
    100% + var(--wp--custom--post-content--padding--left) +
      var(--wp--custom--post-content--padding--right)
  ) !important;
}

.post .site-header,
.post .post-header,
.post .page-content,
.post [data-align="full"] p,
.post .alignfull p {
  padding-left: var(--wp--custom--post-content--padding--left);
  padding-right: var(--wp--custom--post-content--padding--right);
}

@media (min-width: 480px) {
  .post .wp-block[data-align="left"],
  .post .wp-block[data-align="right"],
  .post .wp-site-blocks .alignleft,
  .post .wp-site-blocks .alignright {
    max-width: var(--wp--custom--alignment--aligned-max-width);
  }
}

.post .wp-block-group:not(.site-header) {
  overflow: auto;
}

.post .aligncenter {
  text-align: center;
}

.post .site-header {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  overflow: inherit;
}

.post .site-header .wp-block-site-title a {
  text-decoration: none;
}

.post ::selection {
  background-color: var(--wp--custom--color--selection);
}

.post ::-moz-selection {
  background-color: var(--wp--custom--color--selection);
}

.post p,
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: var(--wp--custom--margin--vertical);
  margin-bottom: var(--wp--custom--margin--vertical);
}

.post .image-no-margin {
  margin: 0;
}

.post .image-no-margin > * {
  vertical-align: bottom;
}

.post .has-background-no-padding.wp-block-columns.has-background {
  padding: 0;
}

/**
 * Elements
 * - Styles for basic HTML elemants
 */
.post a {
  cursor: pointer;
  text-underline-offset: 0.15em;
  text-decoration: none;
}

.post a:hover,
.post a:focus {
  text-decoration-line: underline;
}

.post .block-editor-block-list__layout a,
.post .wp-block-post-content a {
  text-decoration-line: underline;
}

.post .block-editor-block-list__layout a:hover,
.post .block-editor-block-list__layout a:focus,
.post .wp-block-post-content a:hover,
.post .wp-block-post-content a:focus {
  text-decoration: none;
}

.post input[type="text"],
.post input[type="email"],
.post input[type="url"],
.post input[type="password"],
.post input[type="search"],
.post input[type="number"],
.post input[type="tel"],
.post input[type="range"],
.post input[type="date"],
.post input[type="month"],
.post input[type="week"],
.post input[type="time"],
.post input[type="datetime"],
.post input[type="datetime-local"],
.post input[type="color"],
.post textarea {
  background: var(--wp--custom--form--color--background);
  border: var(--wp--custom--form--border--width)
    var(--wp--custom--form--border--style)
    var(--wp--custom--form--border--color);
  border-radius: var(--wp--custom--form--border--radius);
  box-shadow: var(--wp--custom--form--color--box-shadow);
  color: var(--wp--custom--form--color--text);
  font-family: var(--wp--preset--font-family--base);
  padding: var(--wp--custom--form--padding);
}

.post input[type="text"]:focus,
.post input[type="email"]:focus,
.post input[type="url"]:focus,
.post input[type="password"]:focus,
.post input[type="search"]:focus,
.post input[type="number"]:focus,
.post input[type="tel"]:focus,
.post input[type="range"]:focus,
.post input[type="date"]:focus,
.post input[type="month"]:focus,
.post input[type="week"]:focus,
.post input[type="time"]:focus,
.post input[type="datetime"]:focus,
.post input[type="datetime-local"]:focus,
.post input[type="color"]:focus,
.post textarea:focus {
  color: var(--wp--custom--form--color--text);
  border-color: var(--custom--form--color--border);
}

.post select {
  font-family: inherit;
  font-size: 100%;
}

.post textarea {
  width: 100%;
}

.post input[type="checkbox"] + label {
  display: inline;
  margin-left: 0.5em;
  line-height: 1em;
}

/**
 * Button
 */
/**
 * Block Options
 */
.post .wp-block-button.wp-block-button__link,
.post .wp-block-button .wp-block-button__link {
  border-width: 0;
  padding-top: calc(
    var(--wp--custom--button--spacing--padding--top) +
      var(--wp--custom--button--border--width)
  );
  padding-bottom: calc(
    var(--wp--custom--button--spacing--padding--bottom) +
      var(--wp--custom--button--border--width)
  );
  padding-left: calc(
    var(--wp--custom--button--spacing--padding--left) +
      var(--wp--custom--button--border--width)
  );
  padding-right: calc(
    var(--wp--custom--button--spacing--padding--right) +
      var(--wp--custom--button--border--width)
  );
  font-weight: var(--wp--custom--button--typography--font-weight);
  font-family: var(--wp--custom--button--typography--font-family);
  font-size: var(--wp--custom--button--typography--font-size);
  line-height: var(--wp--custom--button--typography--line-height);
  text-decoration: none;
  opacity: 1;
  color: var(--wp--custom--button--color--text);
  background-color: var(--wp--custom--button--color--background);
  border-color: currentColor;
  border-radius: var(--wp--custom--button--border--radius);
}

.post
  .wp-block-button.wp-block-button__link:not(.has-background):not(.has-text-color):hover,
.post
  .wp-block-button.wp-block-button__link:not(.has-background):not(.has-text-color):focus,
.post
  .wp-block-button.wp-block-button__link:not(.has-background):not(.has-text-color).has-focus,
.post
  .wp-block-button
  .wp-block-button__link:not(.has-background):not(.has-text-color):hover,
.post
  .wp-block-button
  .wp-block-button__link:not(.has-background):not(.has-text-color):focus,
.post
  .wp-block-button
  .wp-block-button__link:not(.has-background):not(.has-text-color).has-focus {
  --wp--custom--button--color--text: var(
    --wp--custom--button--hover--color--text
  );
  --wp--custom--button--color--background: var(
    --wp--custom--button--hover--color--background
  );
  --wp--custom--button--border--color: var(
    --wp--custom--button--hover--border--color
  );
  opacity: 1;
  color: var(--wp--custom--button--color--text);
  background-color: var(--wp--custom--button--color--background);
  border-color: currentColor;
  border-color: var(--wp--custom--button--border--color);
}

.post
  .wp-block-button.wp-block-button__link:not(.has-background):not(.has-text-color):hover
  svg,
.post
  .wp-block-button.wp-block-button__link:not(.has-background):not(.has-text-color):focus
  svg,
.post
  .wp-block-button.wp-block-button__link:not(.has-background):not(.has-text-color).has-focus
  svg,
.post
  .wp-block-button
  .wp-block-button__link:not(.has-background):not(.has-text-color):hover
  svg,
.post
  .wp-block-button
  .wp-block-button__link:not(.has-background):not(.has-text-color):focus
  svg,
.post
  .wp-block-button
  .wp-block-button__link:not(.has-background):not(.has-text-color).has-focus
  svg {
  fill: var(--wp--custom--button--color--text);
}

.post .wp-block-button.wp-block-button__link svg,
.post .wp-block-button .wp-block-button__link svg {
  fill: var(--wp--custom--button--color--text);
}

.post .wp-block-button.is-style-outline.wp-block-button__link,
.post .wp-block-button.is-style-outline .wp-block-button__link {
  --wp--custom--button--color--text: var(--wp--custom--button--border--color);
  --wp--custom--button--color--background: transparent;
  border-style: var(--wp--custom--button--border--style);
  border-width: var(--wp--custom--button--border--width);
  padding-top: var(--wp--custom--button--spacing--padding--top);
  padding-bottom: var(--wp--custom--button--spacing--padding--bottom);
  padding-left: var(--wp--custom--button--spacing--padding--left);
  padding-right: var(--wp--custom--button--spacing--padding--right);
  opacity: 1;
  color: var(--wp--custom--button--color--text);
  background-color: var(--wp--custom--button--color--background);
  border-color: currentColor;
}

.post
  .wp-block-button.is-style-outline.wp-block-button__link:not(.has-background):not(.has-text-color):hover,
.post
  .wp-block-button.is-style-outline.wp-block-button__link:not(.has-background):not(.has-text-color):focus,
.post
  .wp-block-button.is-style-outline.wp-block-button__link:not(.has-background):not(.has-text-color).has-focus,
.post
  .wp-block-button.is-style-outline
  .wp-block-button__link:not(.has-background):not(.has-text-color):hover,
.post
  .wp-block-button.is-style-outline
  .wp-block-button__link:not(.has-background):not(.has-text-color):focus,
.post
  .wp-block-button.is-style-outline
  .wp-block-button__link:not(.has-background):not(.has-text-color).has-focus {
  --wp--custom--button--color--text: var(
    --wp--custom--button--hover--color--text
  );
  --wp--custom--button--color--background: var(
    --wp--custom--button--hover--color--background
  );
  --wp--custom--button--border--color: var(
    --wp--custom--button--hover--border--color
  );
  opacity: 1;
  color: var(--wp--custom--button--color--text);
  background-color: var(--wp--custom--button--color--background);
  border-color: currentColor;
  border-color: var(--wp--custom--button--border--color);
}

.post
  .wp-block-button.is-style-outline.wp-block-button__link:not(.has-background):not(.has-text-color):hover
  svg,
.post
  .wp-block-button.is-style-outline.wp-block-button__link:not(.has-background):not(.has-text-color):focus
  svg,
.post
  .wp-block-button.is-style-outline.wp-block-button__link:not(.has-background):not(.has-text-color).has-focus
  svg,
.post
  .wp-block-button.is-style-outline
  .wp-block-button__link:not(.has-background):not(.has-text-color):hover
  svg,
.post
  .wp-block-button.is-style-outline
  .wp-block-button__link:not(.has-background):not(.has-text-color):focus
  svg,
.post
  .wp-block-button.is-style-outline
  .wp-block-button__link:not(.has-background):not(.has-text-color).has-focus
  svg {
  fill: var(--wp--custom--button--color--text);
}

.post .wp-block-button.is-style-outline.wp-block-button__link svg,
.post .wp-block-button.is-style-outline .wp-block-button__link svg {
  fill: var(--wp--custom--button--color--text);
}

.post .wp-block-buttons .wp-block-button:last-child {
  margin-bottom: 0;
}

.post .wp-block-code code {
  font-family: var(--wp--custom--code--typography--font-family);
}

.post .wp-block-gallery .blocks-gallery-image figcaption,
.post .wp-block-gallery .blocks-gallery-item figcaption {
  font-size: var(--wp--custom--gallery--caption--font-size);
}

.post .wp-block-image {
  /*
	From what I can tell the below are styles regularly used by themes
	to fix the image block.  I believe these should go into the block's
	default styles.  It's difficult to say how this will land, however
	based on discussion found in (many) related issues here:
	https://github.com/WordPress/gutenberg/issues/28923
	*/
  text-align: center;
}

.post ul,
.post ol {
  font-family: var(--wp--custom--list--font-family);
  padding-left: var(--wp--custom--list--padding--left);
}

.post
  .wp-block-navigation.is-responsive
  .wp-block-navigation__responsive-container.is-menu-open {
  background-color: var(--wp--custom--color--background);
  color: var(--wp--custom--color--foreground);
}

.post .wp-block-navigation.is-responsive .wp-block-navigation-link__content {
  color: var(--wp--custom--color--foreground) !important;
}

.post
  .wp-block-navigation.is-responsive
  .has-child
  .wp-block-navigation-link__container {
  display: revert;
}

.post p.has-text-color a {
  color: var(--wp--style--color--link, var(--wp--custom--color--primary));
}

.post p.has-drop-cap:not(:focus):first-letter {
  font-size: var(--wp--custom--paragraph--dropcap--typography--font-size);
  font-family: var(--wp--custom--paragraph--dropcap--typography--font-family);
  font-weight: var(--wp--custom--paragraph--dropcap--typography--font-weight);
  margin: var(--wp--custom--paragraph--dropcap--margin);
}

.post .wp-block-post-author__name {
  font-weight: var(--wp--custom--post-author--font-weight);
}

.post .wp-block-post-comments .comment {
  font-size: var(--wp--custom--form--typography--font-size);
}

.post .wp-block-post-comments label,
.post .wp-block-post-comments .comment-meta {
  font-size: var(--wp--custom--form--label--typography--font-size);
}

.post .wp-block-post-comments input[type="submit"],
.post .wp-block-post-comments .reply a {
  border-width: 0;
  padding-top: calc(
    var(--wp--custom--button--spacing--padding--top) +
      var(--wp--custom--button--border--width)
  );
  padding-bottom: calc(
    var(--wp--custom--button--spacing--padding--bottom) +
      var(--wp--custom--button--border--width)
  );
  padding-left: calc(
    var(--wp--custom--button--spacing--padding--left) +
      var(--wp--custom--button--border--width)
  );
  padding-right: calc(
    var(--wp--custom--button--spacing--padding--right) +
      var(--wp--custom--button--border--width)
  );
  font-weight: var(--wp--custom--button--typography--font-weight);
  font-family: var(--wp--custom--button--typography--font-family);
  font-size: var(--wp--custom--button--typography--font-size);
  line-height: var(--wp--custom--button--typography--line-height);
  text-decoration: none;
  opacity: 1;
  color: var(--wp--custom--button--color--text);
  background-color: var(--wp--custom--button--color--background);
  border-color: currentColor;
  border-radius: var(--wp--custom--button--border--radius);
}

.post .wp-block-post-comments input[type="submit"] svg,
.post .wp-block-post-comments .reply a svg {
  fill: var(--wp--custom--button--color--text);
}

.post
  .wp-block-post-comments
  input[type="submit"]:not(.has-background):not(.has-text-color):hover,
.post
  .wp-block-post-comments
  input[type="submit"]:not(.has-background):not(.has-text-color):focus,
.post
  .wp-block-post-comments
  input[type="submit"]:not(.has-background):not(.has-text-color).has-focus,
.post
  .wp-block-post-comments
  .reply
  a:not(.has-background):not(.has-text-color):hover,
.post
  .wp-block-post-comments
  .reply
  a:not(.has-background):not(.has-text-color):focus,
.post
  .wp-block-post-comments
  .reply
  a:not(.has-background):not(.has-text-color).has-focus {
  --wp--custom--button--color--text: var(
    --wp--custom--button--hover--color--text
  );
  --wp--custom--button--color--background: var(
    --wp--custom--button--hover--color--background
  );
  --wp--custom--button--border--color: var(
    --wp--custom--button--hover--border--color
  );
  opacity: 1;
  color: var(--wp--custom--button--color--text);
  background-color: var(--wp--custom--button--color--background);
  border-color: currentColor;
  border-color: var(--wp--custom--button--border--color);
}

.post
  .wp-block-post-comments
  input[type="submit"]:not(.has-background):not(.has-text-color):hover
  svg,
.post
  .wp-block-post-comments
  input[type="submit"]:not(.has-background):not(.has-text-color):focus
  svg,
.post
  .wp-block-post-comments
  input[type="submit"]:not(.has-background):not(.has-text-color).has-focus
  svg,
.post
  .wp-block-post-comments
  .reply
  a:not(.has-background):not(.has-text-color):hover
  svg,
.post
  .wp-block-post-comments
  .reply
  a:not(.has-background):not(.has-text-color):focus
  svg,
.post
  .wp-block-post-comments
  .reply
  a:not(.has-background):not(.has-text-color).has-focus
  svg {
  fill: var(--wp--custom--button--color--text);
}

.post .wp-block-post-comments .reply a {
  display: inline-block;
}

.post .wp-block-pullquote.is-style-solid-color,
.post .wp-block-pullquote {
  text-align: var(--wp--custom--pullquote--typography--text-align);
}

.post .wp-block-pullquote.is-style-solid-color blockquote,
.post .wp-block-pullquote blockquote {
  padding: 0;
  margin: 0;
}

.post .wp-block-pullquote.is-style-solid-color blockquote p,
.post .wp-block-pullquote blockquote p {
  font-size: 1em;
  padding: 0;
  margin: 0;
  line-height: inherit;
}

.post
  .wp-block-pullquote.is-style-solid-color
  blockquote
  .wp-block-pullquote__citation,
.post .wp-block-pullquote.is-style-solid-color blockquote cite,
.post .wp-block-pullquote blockquote .wp-block-pullquote__citation,
.post .wp-block-pullquote blockquote cite {
  display: block;
  font-size: var(--wp--custom--pullquote--citation--typography--font-size);
  font-family: var(--wp--custom--pullquote--citation--typography--font-family);
  font-style: var(--wp--custom--pullquote--citation--typography--font-style);
  font-weight: var(--wp--custom--pullquote--citation--typography--font-weight);
  margin-top: var(--wp--custom--pullquote--citation--spacing--margin--top);
}

.post .wp-block-pullquote.is-style-solid-color.is-style-solid-color,
.post .wp-block-pullquote.is-style-solid-color {
  background-color: var(--wp--custom--color--foreground);
  color: var(--wp--custom--color--background);
}

.post .wp-block-query-pagination {
  padding-top: 1.5em;
  justify-content: space-between;
  display: grid;
  grid-template-areas: "prev numbers next";
  grid-template-columns: 1fr 2fr 1fr;
}

@media (max-width: 479px) {
  .post .wp-block-query-pagination {
    grid-template-areas: "prev next";
    grid-template-columns: 1fr 1fr;
  }
}

.post .wp-block-query-pagination .wp-block-query-pagination-previous {
  justify-self: start;
  grid-area: prev;
}

.post .wp-block-query-pagination .wp-block-query-pagination-next {
  justify-self: end;
  grid-area: next;
}

.post .wp-block-query-pagination .wp-block-query-pagination-numbers {
  grid-area: numbers;
  justify-self: center;
}

.post .wp-block-query-pagination .wp-block-query-pagination-numbers .current {
  text-decoration: underline;
}

@media (max-width: 479px) {
  .post .wp-block-query-pagination .wp-block-query-pagination-numbers {
    display: none;
  }
}

.post .wp-block-quote.is-style-large p,
.post .wp-block-quote p {
  font-style: unset;
  margin-top: 0px;
}

.post .wp-block-quote.is-style-large .wp-block-quote__citation,
.post .wp-block-quote.is-style-large cite,
.post .wp-block-quote .wp-block-quote__citation,
.post .wp-block-quote cite {
  font-size: var(--wp--custom--quote--citation--typography--font-size);
  font-style: var(--wp--custom--quote--citation--typography--font-style);
}

.post
  .wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper {
  padding: var(--wp--custom--form--padding);
  border: var(--wp--custom--form--border--width)
    var(--wp--custom--form--border--style)
    var(--wp--custom--form--border--color);
  border-radius: var(--wp--custom--form--border--radius);
}

.post
  .wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper
  .wp-block-search__input {
  padding: 0;
}

.post .wp-block-search .wp-block-search__input {
  padding: var(--wp--custom--form--padding);
  border: var(--wp--custom--form--border--width)
    var(--wp--custom--form--border--style)
    var(--wp--custom--form--border--color);
}

.post
  .wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper
  .wp-block-search__button,
.post .wp-block-search .wp-block-search__button {
  border-width: 0;
  padding-top: calc(
    var(--wp--custom--button--spacing--padding--top) +
      var(--wp--custom--button--border--width)
  );
  padding-bottom: calc(
    var(--wp--custom--button--spacing--padding--bottom) +
      var(--wp--custom--button--border--width)
  );
  padding-left: calc(
    var(--wp--custom--button--spacing--padding--left) +
      var(--wp--custom--button--border--width)
  );
  padding-right: calc(
    var(--wp--custom--button--spacing--padding--right) +
      var(--wp--custom--button--border--width)
  );
  font-weight: var(--wp--custom--button--typography--font-weight);
  font-family: var(--wp--custom--button--typography--font-family);
  font-size: var(--wp--custom--button--typography--font-size);
  line-height: var(--wp--custom--button--typography--line-height);
  text-decoration: none;
  opacity: 1;
  color: var(--wp--custom--button--color--text);
  background-color: var(--wp--custom--button--color--background);
  border-color: currentColor;
  border-radius: var(--wp--custom--button--border--radius);
}

.post
  .wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper
  .wp-block-search__button
  svg,
.post .wp-block-search .wp-block-search__button svg {
  fill: var(--wp--custom--button--color--text);
}

.post
  .wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper
  .wp-block-search__button:not(.has-background):not(.has-text-color):hover,
.post
  .wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper
  .wp-block-search__button:not(.has-background):not(.has-text-color):focus,
.post
  .wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper
  .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus,
.post
  .wp-block-search
  .wp-block-search__button:not(.has-background):not(.has-text-color):hover,
.post
  .wp-block-search
  .wp-block-search__button:not(.has-background):not(.has-text-color):focus,
.post
  .wp-block-search
  .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus {
  --wp--custom--button--color--text: var(
    --wp--custom--button--hover--color--text
  );
  --wp--custom--button--color--background: var(
    --wp--custom--button--hover--color--background
  );
  --wp--custom--button--border--color: var(
    --wp--custom--button--hover--border--color
  );
  opacity: 1;
  color: var(--wp--custom--button--color--text);
  background-color: var(--wp--custom--button--color--background);
  border-color: currentColor;
  border-color: var(--wp--custom--button--border--color);
}

.post
  .wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper
  .wp-block-search__button:not(.has-background):not(.has-text-color):hover
  svg,
.post
  .wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper
  .wp-block-search__button:not(.has-background):not(.has-text-color):focus
  svg,
.post
  .wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper
  .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus
  svg,
.post
  .wp-block-search
  .wp-block-search__button:not(.has-background):not(.has-text-color):hover
  svg,
.post
  .wp-block-search
  .wp-block-search__button:not(.has-background):not(.has-text-color):focus
  svg,
.post
  .wp-block-search
  .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus
  svg {
  fill: var(--wp--custom--button--color--text);
}

.post
  .wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper
  .wp-block-search__button.has-icon,
.post .wp-block-search .wp-block-search__button.has-icon {
  line-height: 0;
}

.post .wp-block-separator {
  margin: var(--wp--custom--separator--margin);
  opacity: var(--wp--custom--separator--opacity);
}

.post .wp-block-separator:not(.is-style-wide) {
  width: var(--wp--custom--separator--width);
}

.post .wp-block-file .wp-block-file__button {
  border-width: 0;
  padding-top: calc(
    var(--wp--custom--button--spacing--padding--top) +
      var(--wp--custom--button--border--width)
  );
  padding-bottom: calc(
    var(--wp--custom--button--spacing--padding--bottom) +
      var(--wp--custom--button--border--width)
  );
  padding-left: calc(
    var(--wp--custom--button--spacing--padding--left) +
      var(--wp--custom--button--border--width)
  );
  padding-right: calc(
    var(--wp--custom--button--spacing--padding--right) +
      var(--wp--custom--button--border--width)
  );
  font-weight: var(--wp--custom--button--typography--font-weight);
  font-family: var(--wp--custom--button--typography--font-family);
  font-size: var(--wp--custom--button--typography--font-size);
  line-height: var(--wp--custom--button--typography--line-height);
  text-decoration: none;
  opacity: 1;
  color: var(--wp--custom--button--color--text);
  background-color: var(--wp--custom--button--color--background);
  border-color: currentColor;
  border-radius: var(--wp--custom--button--border--radius);
  display: inline-block;
}

.post .wp-block-file .wp-block-file__button svg {
  fill: var(--wp--custom--button--color--text);
}

.post
  .wp-block-file
  .wp-block-file__button:not(.has-background):not(.has-text-color):hover,
.post
  .wp-block-file
  .wp-block-file__button:not(.has-background):not(.has-text-color):focus,
.post
  .wp-block-file
  .wp-block-file__button:not(.has-background):not(.has-text-color).has-focus {
  --wp--custom--button--color--text: var(
    --wp--custom--button--hover--color--text
  );
  --wp--custom--button--color--background: var(
    --wp--custom--button--hover--color--background
  );
  --wp--custom--button--border--color: var(
    --wp--custom--button--hover--border--color
  );
  opacity: 1;
  color: var(--wp--custom--button--color--text);
  background-color: var(--wp--custom--button--color--background);
  border-color: currentColor;
  border-color: var(--wp--custom--button--border--color);
}

.post
  .wp-block-file
  .wp-block-file__button:not(.has-background):not(.has-text-color):hover
  svg,
.post
  .wp-block-file
  .wp-block-file__button:not(.has-background):not(.has-text-color):focus
  svg,
.post
  .wp-block-file
  .wp-block-file__button:not(.has-background):not(.has-text-color).has-focus
  svg {
  fill: var(--wp--custom--button--color--text);
}

.post .wp-block-table figcaption {
  font-size: var(--wp--custom--table--figcaption--typography--font-size);
  text-align: center;
}

.post .wp-block-table td,
.post .wp-block-table th {
  border: 1px solid;
  padding: calc(0.5 * var(--wp--custom--margin--vertical))
    calc(0.5 * var(--wp--custom--margin--horizontal));
}

.post .wp-block-video figcaption {
  margin: var(--wp--custom--video--caption--margin);
  text-align: var(--wp--custom--video--caption--text-align);
}

.post .wp-block-columns {
  margin-bottom: unset;
}

.post .post-meta {
  display: flex;
}

.post .post-meta .wp-block-post-author,
.post .post-meta .wp-block-post-date,
.post .post-meta .wp-block-post-tags,
.post .post-meta .wp-block-post-hierarchical-terms {
  display: flex;
  margin-right: calc(2 * var(--wp--custom--margin--baseline));
}

.post .post-meta .wp-block-post-author:before,
.post .post-meta .wp-block-post-date:before,
.post .post-meta .wp-block-post-tags:before,
.post .post-meta .wp-block-post-hierarchical-terms:before {
  align-self: center;
  content: "";
  display: inline-block;
  margin-right: calc(0.5 * var(--wp--custom--margin--baseline));
  height: 16px;
  width: 16px;
}

.post .post-meta .wp-block-post-author:before {
  /* background: url(svg/post-author.svg) no-repeat; */
}

.post .post-meta .wp-block-post-date:before {
  /* background: url(svg/post-date.svg) no-repeat; */
}

.post .post-meta .wp-block-post-hierarchical-terms:before {
  /* background: url(svg/post-category.svg) no-repeat; */
}

/*# sourceMappingURL=ponyfill.css.map */
