/**
 * Disable all blocks by default; will enable indviduals as supported
 */
*[class^="wp-"] * {
  display: none;
}

*[class^="wp-"]::before {
  @apply bg-gray-200;
  @apply block;
  @apply p-4;
  @apply rounded-md;
  @apply text-center;
  @apply mb-5;
  content: "⚠️ Block type not supported.";
}

*[class^="wp-"] *::before {
  display: none;
  content: none;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
.post p,
.post li {
  @apply font-serif;
}

.post p,
.post li {
  @apply text-base;
  @apply lg:text-xl;
  max-width: 30em;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  @apply text-base;
  @apply lg:text-xl;
  @apply mb-5;
}

.post h1 {
  @apply text-3xl;
  @apply lg:text-6xl;
  @apply font-serif;
  @apply font-bold;
  @apply leading-tight;
}
.post h2 {
  @apply text-base;
  @apply lg:text-3xl;
  @apply font-serif;
  @apply font-bold;
}
.post h3 {
  @apply text-base;
  @apply lg:text-lg;
  @apply font-serif;
  @apply uppercase;
  @apply tracking-wider;
}
.post h4 {
  @apply text-base;
  @apply lg:text-lg;
}

.post a {
  @apply underline;
  @apply text-green-700;
}

.post p,
.post ul,
.post ol {
  @apply mb-5;
}

.post ul {
  @apply list-disc;
  @apply pl-7;
}

.post ol {
  @apply list-decimal;
  @apply pl-7;
}

.has-text-align-center {
  @apply text-center;
}

.has-text-align-right {
  @apply text-right;
}

/* Images */
.wp-block-image {
  @apply mb-5;
}

.wp-block-image * {
  display: initial;
}

.wp-block-image::before {
  display: none;
  content: none;
}

.wp-block-image figcaption {
  @apply block;
  @apply font-serif;
  @apply text-center;
}

/* Block Quote */
.wp-block-quote {
  @apply border-green-700;
  @apply border-l-2;
  @apply pl-4;
  @apply mb-5;
}

.wp-block-quote * {
  display: initial;
}

.wp-block-quote::before {
  display: none;
  content: none;
}

.wp-block-quote p {
  @apply block;
}

.wp-block-quote cite {
  @apply not-italic;
  @apply text-sm;
}

/* Pull Quote */
.wp-block-pullquote {
  @apply border-green-700;
  @apply border-t-2;
  @apply border-b-2;
  @apply mb-5;
  @apply py-8;
  @apply text-center;
}

.wp-block-pullquote * {
  display: initial;
}

.wp-block-pullquote::before {
  display: none;
  content: none;
}

.wp-block-pullquote p {
  @apply block;
  @apply text-3xl;
}

.wp-block-pullquote cite {
  @apply not-italic;
  @apply text-sm;
  @apply uppercase;
}

/* YouTube Embed */
.wp-block-embed {
  @apply mb-5;
}

.wp-block-embed *,
.wp-block-embed__wrapper * {
  display: initial;
}

.wp-block-embed::before,
.wp-block-embed__wrapper::before {
  content: none;
  display: none;
}

/* File Embed */
.post .wp-block-file {
  @apply mb-5;
}

.post .wp-block-file * {
  display: initial;
}

.post .wp-block-file::before {
  content: none;
  display: none;
}

.post .wp-block-file__button {
  @apply inline-block;
  @apply rounded-md;
  @apply bg-green-700;
  @apply text-white;
  @apply p-4;
  @apply no-underline;
}
