:root {
  --rounded: 0.5rem;
}

.wp-block-navigation .wp-block-navigation-item {
  font-family: var(--wp--preset--font-family--alternate);
  font-size: var(--wp--preset--font-size--small);
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-left: 3rem;
}

.wp-block-navigation .wp-block-navigation-item__content {
  color: var(--wp--preset--color--secondary);
}

.wp-block-image.is-style-circle-mask img, .wp-block-image.is-style-rounded img {
  border-radius: var(--rounded);
}

.wp-block-post-featured-image img {
  border-radius: var(--rounded);
}

.ls-callout {
  box-shadow: var(--wp--custom--component--drop-shadow);
}

.ls-callout__heading {
  font-family: var(--wp--preset--font-family--alternate);
}
