/* @TODO: https://github.com/WordPress/gutenberg/issues/39789 */
.wp-block-navigation {
  gap: 3rem;
}

/* @TODO: Find documentation to modify `is-styled-rounded` radius. */
.wp-block-image.is-style-circle-mask img, .wp-block-image.is-style-rounded img {
  border-radius: var(--wp--custom--image--rounded);
}

/* @TODO: https://github.com/WordPress/gutenberg/issues/39074 */
.wp-block-post-featured-image img {
  border-radius: var(--wp--custom--image--rounded);
}

.ls-drop-shadow {
  box-shadow: var(--wp--custom--component--drop-shadow);
}

.ls-font-alternate {
  font-family: var(--wp--preset--font-family--alternate);
}
