<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"1rem","left":"1rem"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-right: 1rem; padding-left: 1rem">
  <!-- wp:post-title {"level":1} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:post-content {"layout":{"inherit":true}} /-->

  <!-- wp:group {"style":{"spacing":{"padding":{"right":"1rem","left":"1rem"}}},"layout":{"inherit":true}} -->
  <div class="wp-block-group" style="padding-right: 1rem; padding-left: 1rem">
    <!-- wp:template-part {"slug":"post-meta"} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"1rem","left":"1rem"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-right: 1rem; padding-left: 1rem">
  <!-- wp:spacer {"height":60} -->
  <div style="height: 60px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
  <!-- wp:post-comments /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","layout":{"inherit":true},"className":"site-footer-container"} /-->
